* {
    padding: 0px;
    margin: 0px;
}

html {
    width: 1300px;
    height: 750px;
    background:#797878 ;
}

body {

    height: 260px;
    width: 1300px;
}

ul li {
    display: inline-block;
    padding: 15px 110px;
    position: relative;

}
li a{
    color: rgb(255, 255, 255);
    width: 19px;
  }
nav {
    list-style: none;
    padding: 0;
    background: #000000;
    width: "1250px";
    height: 60px;
}



header {
    height: 250px;
    width: 1300px;
    background: rgb(82, 81, 81);
}

#banner {
    width: 500px;
    height: 250px;
    background: HF0000;
    margin-right;
}

#logo {
    width: 250px;
    height: 125px;
}

#buscador {
    height: 50px;
    width: 50px;
}

main {
    height: 460px;
    width: 1300px;
    background:rgb(131, 130, 130);

}

footer{
    text-align: center;
    background: gray;
    width: 1300px;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid aqua;
}
.content-foo h4{
    color: white;
    border-bottom: 3px solid pink;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo{
    text-align: center;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: aqua;
}

.contenedor {
    width: 1300px;
    display: flex;
    background: rgba(105, 105, 105, 0.322);
}
.m{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 19px;
  }
  .n{
    text-decoration: none;
    font-size:25px;
}